extends layout

block content
  h1= title
  p Welcome to #{title}
  form
    div
      textarea#message_box
    div
      input#send(type='submit')
  ul#chat_list
block footer
  script(type="text/javascript", src="/javascripts/chat.js")