form(action='/users/create', method="post")
  div
    lable name
    input(type='text', name='user[name]')
  div
    lable email
    input(type='text', name='user[email]')
  div
    lable password
    input(type='password', name='user[password]')
  div
    input(type='submit')